.home-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 60vw;
    height: 50vh;
    background: rgb(201, 123, 224);
    
    margin: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 208, 182);
}
